.actions-infobox__filter
  .uk-form
    form(id="", method="", action="")
      .uk-form-row
        .actions-infobox__filter-item
          a(href="http://", target="_blank").btn.btn_ghost.uk-button Все акции
        .actions-infobox__filter-item
          label.label-check.uk-form-label
            input(type="checkbox")
            span Автомобили
        .actions-infobox__filter-item
          label.label-check.uk-form-label
            input(type="checkbox")
            span Кредит
        .actions-infobox__filter-item
          label.label-check.uk-form-label
            input(type="checkbox")
            span Сервис
