-
    var advantages= [
        {
            'icon': 'sprite-i-rub',
            'name': 'Выгода по трейд-ин'
        },
        {
            'icon': 'sprite-i-refresh',
            'name': 'Утилизация 2016'
        },
        {
            'icon': 'sprite-i-car',
            'name': 'Автомобили в наличии и с ПТС'
        },
    ]
.advantages
    .container-content
        .advantages__grid.uk-flex.uk-flex-wrap.uk-flex-center
            each item, index in advantages
                if (index < 3)
                    .advantages__item-wrap
                        .advantages__item
                            .advantages__ico
                                i.icon(class= item.icon)
                            .advantages__name= item.name
