.auto-fotogallery
  ul.switch(data-uk-switcher="{connect:'#auto-fotogallery-box', animation: 'fade'}")
    li.switch__item
      a.switch__link Экстерьер
    li.switch__item
      a.switch__link Интерьер
  .uk-switcher#auto-fotogallery-box
    .switch-content__item
      .auto-fotogallery__list
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
    .switch-content__item
      .auto-fotogallery__list
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group-2'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
        figure.auto-fotogallery__item.uk-overlay.uk-overlay-hover
          a(href="../img/hm-auto-item.jpg", data-uk-lightbox="{group:'foto-group-2'}")
            img(src="../img/foto-gallery.jpg", alt="", width="180", height="113")
            figcaption.uk-overlay-panel.uk-overlay-fade.uk-overlay-background.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                i.uk-icon-eye
                div Посмотреть
