.auto-in
  .title Автомобили в наличии
  .auto-in__list.uk-grid.uk-grid-small.uk-grid-width-large-1-4.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
    figure.auto-in__item
      a.auto-in__link.js-modal-trade-in(href="../lightbox-trade-in.html",  title="Lada <b>Kalina</b>")
        .auto-in__img
          img(src="../img/auto-in.jpg", alt="")
        figcaption.auto-in__caption.
          Lada Priora 2011 г. / 68 000 км / <br> 290 000 Р
    figure.auto-in__item
      a.auto-in__link.js-modal-trade-in(href="../lightbox-trade-in.html",  title="Lada <b>Kalina</b>")
        .auto-in__img
          img(src="../img/auto-in.jpg", alt="")
        figcaption.auto-in__caption.
          Lada Priora 2011 г. / 68 000 км / <br> 290 000 Р
    figure.auto-in__item
      a.auto-in__link.js-modal-trade-in(href="../lightbox-trade-in.html",  title="Lada <b>Kalina</b>")
        .auto-in__img
          img(src="../img/auto-in.jpg", alt="")
        figcaption.auto-in__caption.
          Lada Priora 2011 г. / 68 000 км / <br> 290 000 Р
    figure.auto-in__item
      a.auto-in__link.js-modal-trade-in(href="../lightbox-trade-in.html",  title="Lada <b>Kalina</b>")
        .auto-in__img
          img(src="../img/auto-in.jpg", alt="")
        figcaption.auto-in__caption.
          Lada Priora 2011 г. / 68 000 км / <br> 290 000 Р
