.hm-about
    .container-content.container-content_padding-all
        .grid
            .col-l-4.col-m-12.uk-margin-bottom
                .hm-about__title АМК-Екатеринбург - официальный дилер лада на урале
            .col-l-8.col-m-12
                .content
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    h1 Заголовок h1
                    h2 Заголовок h2
                    h3 Заголовок h3
                    h4 Заголовок h4
                    h5 Заголовок h5
                    h6 Заголовок h6
                    ul
                        li Лояльность потребителей
                        li Высокий уровень обслуживания
                        li Качественный представитель LADA в Свердловской области
                        li Прочная деловая репутация
                        li Социальная ответственность.
