-
    var slides = [{
        'logo' : '../img/slide-logo.png',
        'title' : 'Берите сейчас - платите потом!',
        'caption': 'Только в АМК-Екатеринбург Вы сможете приобрести дополнительное оборудование в РАССРОЧКУ*!',
        'img':'../img/slide.jpg',
        },
        {
            'logo' : '../img/slide-logo.png',
            'title' : 'Слайд 2',
            'caption': 'Описание слайда',
            'img':'../img/slide.jpg',
        }]
mixin slider()
    .hm-slider-wrap
        ul.hm-slider-wrap__bg#hm-slider
            each val, index in slides
                li(style="background-image: url('" + val.img+ "')")
        .hm-slider
            .container-content
                ul.hm-slider__caption#hm-slider-caption
                    each val, index in slides
                        li.uk-text-center
                            img(src= val.logo)
                            h3.hm-slider__title= val.title
                            .hm-slider__caption= val.caption
                #bx-pager.hm-slider__pager
                    each val, index in slides
                        a(href="#", data-slide-index= index).hm-slider__dotnav
