- var mainMenu = ['Акции','Модельный ряд', 'Кредит', 'Сервис', 'Трейд-ин', 'Контакты']
- var footMenu = ['Granta','Kalina', 'Priora', 'Vesta', 'Xray', 'Largus', '4x4']
mixin menu(arr)
    ul&attributes(attributes)
        each val, index in arr
            case index
                when 2
                    li(class!=attributes.class +'__item').active
                        a(class!=attributes.class + '__link', href='#anchor-' + index)!= val
                default
                    li(class!=attributes.class +'__item')
                        a(class!=attributes.class + '__link', href='#anchor-' + index)!= val
