extend ../layout/mainwrapp.pug
block title
  title Контакты
block variables
  - var mainWrapperClass="contacts-page"
block header
  include ../template/header.pug
  +header()(class="header_bg")
block pagetitle
  include ../template/page-title.pug
  +page-title('Контакты')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    .contact-info.content
      .bg-box.uk-margin-small
        h4: b АМК - ЕКАТЕРИНБУРГ
        div #[b Адрес:] переулок базовый, 10
        div #[b Телефоны:]
        .indented-line салон: (343)2111000
        .indented-line СТО: (343)2111000
        div #[b E-mail:] info@amkekt.ru
      .bg-box.uk-margin-small
        div 620100, г.Екатеринбург, Базовый переулок, 10
        div #[b Телефон:] (343) 211-00-00
        div #[b Часы работы:] с 8-00 до 20-00 ежедневно
        div #[b E-mail:] info@lada-amkekt.ru
      .bg-box.uk-margin-small
        div.
          По вопросам качества обслуживания, а также по спорным вопросам Вы можете обратиться к Руководителю отдела по работе с клиентами #[b Боровиченко Ярославу, тел.: 211-10-00, 8-912-202-05-19], или написать письмо на адрес #[b Yaroslav.Borovichenko@lada-amkekt.ru]
    .map.
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
