.mainWrapper.mainWrapper_lightbox
  .mainWrapper_lightbox__box
    include ../template/slidecarousel.pug
    .uk-grid.uk-grid-divider(data-uk-grid-match)
      .uk-width-small-6-10
        .padding
          .uk-grid.uk-grid-medium.uk-grid-width-small-1-2
            div.uk-margin-small-bottom Год выпуска: #[b 2011]
            div.uk-margin-small-bottom Двигатель: #[b 1,6]
            div.uk-margin-small-bottom Пробег: #[b 68 000 км]
            div.uk-margin-small-bottom КПП: #[b 5 МКПП]
      .uk-width-small-4-10.uk-flex.uk-flex-middle.uk-flex-right
        .padding
          .price.uk-text-primary 280 000 Р.
  .mainWrapper_lightbox__box
    .form.uk-form.uk-form-stacked.padding
      form(id="", method="", action="")
        .uk-form-row.uk-grid.uk-grid-width-small-1-2
          .uk-form-controls
            label.uk-form-label Вас зовут
            input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
          .uk-form-controls
            label.uk-form-label Контактный телефон
            input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
        .uk-form-row
          button.uk-button.uk-width-1-1(type="submit") Перезвонить мне
