extends ../layout/mainwrapp.pug
block title
    title Трейд-ин
block variables
    - var mainWrapperClass = 'mainWrapper_bg'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Трейд-ин')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    include ../data/actions.pug
    include ../template/actions-infobox.pug
  .container-content.container-content_padding-all
    include ../template/auto-in.pug
block content2
