//- index.pug
extends h1.pug
block content
    block variables
    .mainWrapper(class=mainWrapperClass, style=mainWrapperStyle)
        block bg
        block header
            include ../template/header.pug
            +header()
        block pagetitle
        block content
        block footWrap
            .footWrap
    block content2
