.actions-infobox {
  margin-bottom: 50px;
  &__filter {
    background: #fff;
    text-align: center;
    padding: 7px 20px;
    margin: 10px auto;
    color: @col-font;
  }
  &__filter-item {
    .inblock(middle);
    margin: 3px 0;
  }
  &__cont {
    background: #fff;
    padding: 30px 25px;
    color: @col-font;
  }
}

.actions-infobox-slider {
  .bx-pager {
    bottom: auto;
    top: -30px;
    text-align: right;
    padding-top: 0;
  }
  .bx-wrapper {
    margin: 0 auto;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.11);
  }
  .bx-wrapper .bx-pager.bx-default-pager a{
    background: #fff;
    opacity: 0.5;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 5px;
    &.active {
        background: #f49e15;
        opacity: 1;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: 1px dashed #fff;
            margin-top: -10px;
            margin-left: -10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
  }
}
@media only screen and (max-width:@breakpoint-medium) {
  .actions-infobox {
    &__filter-item {
      display: block;
      margin: 3px auto;
      width: 100%;
      max-width: 165px;
      text-align: left;
    }
  }
}
