.breadcrumbs {
  font-size: 12px;
  .list-reset;
  margin-bottom: 0.5em;
  &__item {
    .inblock(baseline);
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
