.btn, .uk-button {
  // line-height: normal;
}
.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 165px;
  &_ghost {
    background: transparent;
    color: @col-active;
    border: 1px solid @col-active;
  }
}
