.countdown {
  width: auto;
  overflow: hidden;
  .inblock();
  .countDiv, .countSeconds {
    .hidden;
  }
  margin: 0 -5px;
  letter-spacing: normal;
  line-height: 1.2;
  .countBox {
    background: @col-active;
    color: #fff;
    display: block;
    float: left;
    margin: 0 5px;
    font-size: 30px;
    .font;
    padding: 10px 13px;
    .position {
      width: 0.7em;
      height: 1.2em;
      float: left;
    }
    .digit {
      width: 0.7em;
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .countdown-hint {
    display: block;
    font-size: 14px;
    clear: both;
    &:before {
      content:'';
      background: #fff;
      display: block;
      margin: -3px auto 3px;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: relative;
    }
  }
}
