.hm-first-screen {
    flex-direction:row;
    width: 100%;
    &__cont {
        width: 100%;
        min-height: 100vh;
    }
    &__bottom {
        position: relative;
        z-index: 5;
    }
    &__menu {
        background: #fff;
        padding: 10px 0;
        text-align: center;
        margin: 0px auto 60px;
    }
}
