.hm-slider-wrap {
    .bx-wrapper {
        background: none;
        margin: 0;
        border:none;
        box-shadow: none;
    }
    &>.bx-wrapper{
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        .bx-viewport {
            height: 100% !important;
        }
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            height: 100%;
            background-position: 50% 50%;
            -webkit-background-size: cover;
            background-size: cover;
        }
        &:after {
            content:'';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: auto;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    .hm-slider {
        position: relative;
        z-index: 3;
        color: #fff;
        margin: 40px 0;
        &__caption {
            text-align: center;
            color: #fff;
            list-style: none;
            padding: 0;
            margin: 0;
            img {
                display: inline-block;
            }
        }
        &__title {
          font-size: 38px;
          text-transform: uppercase;
        }
        &__pager {
            padding: 40px 0;
            text-align: center;
        }
        &__dotnav {
            background: #fff;
            opacity: 0.5;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            margin: 5px;
            &.active {
                background: #f49e15;
                opacity: 1;
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    border: 1px dashed #fff;
                    margin-top: -10px;
                    margin-left: -10px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
        .bx-wrapper .bx-controls-direction a {
            text-indent: 0;
            // font-family: 'FontAwesome';
            text-decoration: none !important;
            color: inherit;
            text-align: center;
            text-align: center;
            margin: 0;
            &:before {
                content:'';
                border: 1px dashed #fff;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -18px;
                margin-left: -18px;
                width: 36px;
                height: 36px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 50%;
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.bx-prev {
                .sprite-i-arr-left;
            }
            &.bx-next {
                .sprite-i-arr-right;
            }
        }
    }
}
