.menu-main {
    .list-reset;
    &__item {
        .inblock();
        position: relative;
        margin: 3px 10px;
        color: inherit;
        &:before, &:after {
            content: '';
            .inblock(middle);
            .animated-css3(all);
            background: currentColor;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -1.5px;
            opacity: 0;
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
        &.active, &:hover {
            color: @col-active;
            &:before, &:after {
                opacity: 1;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
    }
    &__link {
        color: inherit;
        display: block;
        padding: 0px 9px;
    }
}
