.model-actions {
  background-color: #b2b2b2;
  background-size: cover;
  background-position: top center;
  color: #fff;
  margin-bottom: 135px;
  &__slider {
    margin-bottom: -135px !important;
  }
  .actions-infobox-slider {
    margin: 30px auto 0;
  }
}
