.switch {
  .list-reset;
  .clearfix;
  margin: 20px 0;
  &__item {
    float: left;
    border: 2px solid @col-active;
    color: @col-active;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 15px;
    position: relative;
    &.uk-active, &:hover {
      color: #fff;
      background: @col-active;
    }
    &.uk-active {
      &:after {
        content:'';
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -4px;
        margin-top: 2px;
        width: 0;
        height: 0;
        border-top: 4px solid @col-active;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
    }
  }
  &__link {
    color: inherit !important;
    text-decoration: none !important;
    min-width: 180px;
    display: block;
  }
}
