extends ../layout/mainwrapp.pug
block title
    title Акции
block variables
    - var mainWrapperClass = 'mainWrapper_bg mainWrapper_height-auto'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Акции')
block content
  .container-content
    include ../data/actions.pug
    .actions-infobox
      include ../template/actions-infobox-filter.pug
      include ../template/actions-infobox.pug
    block footWrap
block content2
  .container-content.container-content_padding-all
    include ../template/actions-list.pug
  .footWrap
