extends ../layout/mainwrapp.pug
block title
    include ../data/actions.pug
    title!= actions[0].name
block variables
    - var mainWrapperClass = 'mainWrapper_bg'
    - var mainWrapperStyle = 'background-image: url(' + actions[0].imgBg + ')'
block pagetitle
  include ../template/page-title.pug
  +page-title(actions[0].name, 'Акции')
block content
  .container-content.container-content_padding-all
    .action-body
      .bg-box.uk-margin
        .action-content!= actions[0].content
      .action-timer.uk-text-center.uk-margin
        .action-timer__title До конца акции осталось
        .countdown(data-enddate=actions[0].endDate)
      .bg-box.uk-margin
        .uk-form.uk-form-stacked
          form(id="", method="", action="")
            .uk-form-row
              .uk-grid.uk-grid-width-medium-1-2
                .uk-form-controls
                  label.uk-form-label Вас зовут
                  input(type="text", placeholder="Введите ваше имя...").uk-width-1-1
                .uk-form-controls
                  label.uk-form-label Контактный телефон
                  input(type="text", placeholder="+7 (900) 000-00-00").uk-width-1-1.js-mask-phone
            .uk-form-row
              button(type="submit").uk-button.uk-width-1-1 Записаться на тест-драйв
    block footWrap
block content2
  .footWrap
