//- index.pug
extends ../layout/h1.pug
block title
    title Главная
block content
    .hm-first-screen.mainWrapper.uk-flex
        .hm-first-screen__cont.uk-flex.uk-flex-column.uk-flex-space-between
            include ../template/header-hm.pug
            +header()(class="header_hm")
            include ../template/hm-slider.pug
            +slider
            .hm-first-screen__bottom
                include ../template/advantages.pug
                .container-content
                    .hm-first-screen__menu
                        include ../template/menu.pug
                        +menu(mainMenu)(class="menu-main")
    include ../template/hm-auto.pug
    include ../template/hm-about.pug
    .footWrap
