extends ../layout/mainwrapp.pug
block title
    title Модельный ряд
block variables
    - var mainWrapperClass = 'mainWrapper_bg mainWrapper_height-auto'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Модельный ряд')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    .uk-grid
      .uk-width-large-3-10.uk-width-xlarge-2-10
        .nav-page.uk-margin-bottom(data-uk-sticky="{media: 960}")
          include ../template/menu.pug
          +menu(['Характеристики','Описание и фото','Акции на эту модель','Запись на тест-драйв'])(class="menu-nav", data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}")
      .uk-width-large-7-10.uk-width-xlarge-8-10
        .model-char.uk-float-right#anchor-0
          table.model-char__tbl
            tr
              th Тип кузова
              td Седан
            tr
              th Объем двигателя (л)
              td 1,6
            tr
              th Мощность (л.с.)
              td 106
            tr
              th Коробка передач
              td 5 МТ
            tr
              th Привод
              td передний
            tr
              th Максимальная скорость км/ч
              td 178
            tr
              th Ускорение до 100 км/ч (сек.)
              td 11,8
            tr
              th Расход топлива (смешанный)
              td н/д

    block footWrap
block content2
  include ../template/model-caption-and-foto.pug
  include ../template/model-actions.pug
  include ../template/model-test-drive.pug
  .footWrap
