extends ../layout/mainwrapp.pug
block title
    title Модельный ряд
block variables
    - var mainWrapperClass = 'mainWrapper_bg mainWrapper_height-auto'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Модельный ряд')
block content
  .container-content
    include ../data/actions.pug
    .actions-infobox
      include ../template/actions-infobox-slider.pug
    block footWrap
block content2
  include ../template/models.pug
  .footWrap
