extends ../layout/mainwrapp.pug
block title
    title Сервис
block variables
    - var mainWrapperClass = 'mainWrapper_bg'
    - var mainWrapperStyle = 'background-image: url("../img/slide.jpg")'
block pagetitle
  include ../template/page-title.pug
  +page-title('Сервис')
block content
  .container-content.container-content_padding-all.uk-padding-top-remove
    .uk-grid.uk-grid-medium(data-uk-grid-match="{target: '.bg-box_dark'}")
      .uk-width-large-3-10.uk-flex.uk-margin-bottom
        .bg-box_dark.uk-flex.uk-width-1-1
          .form.form_transparent.uk-form.uk-form-stacked.uk-width-1-1
            form(id="", method="", action="")
              .uk-form-row
                label.uk-form-label Вас зовут
                input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
              .uk-form-row
                label.uk-form-label Контактный телефон
                input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
              .uk-form-row
                label.uk-form-label Выберите автомобиль
                select.uk-width-1-1
                  option Не выбрано
                  option Granta
              .uk-form-row
                button.uk-button.uk-width-1-1(type="submit") Записаться на тест-драйв
      .uk-width-large-7-10
        .uk-grid.uk-grid-collapse.uk-grid-width-large-1-3
          div
            .bg-box_dark.bg-box-info.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                .bg-box-info__title Автомобили отечественного производства, находящиеся на гарантии LADA:
                p.
                  Техническое обслуживание - <br><span class="uk-text-primary">1100 рублей</span>
                p.
                  Слесарно-диагностические работы - <br><span class="uk-text-primary">900 рублей</span>
                p.
                  Жестяно-покрасочные работы - <br><span class="uk-text-primary">600 рублей</span>
          div
            .bg-box_dark.bg-box-info.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                .bg-box-info__title Автомобили отечественного производства, постгарантия LADA:
                p.
                  Техническое обслуживание - <div class="uk-text-primary">1100 рублей</div>
                p.
                  Слесарно-диагностические работы - <div class="uk-text-primary">900 рублей</div>
                p.
                  Жестяно-покрасочные работы - <div class="uk-text-primary">600 рублей</div>
          div
            .bg-box_dark.bg-box-info.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
              div
                .bg-box-info__title Автомобили импортного производства:
                p.
                  Техническое обслуживание - <div class="uk-text-primary">1100 рублей</div>
                p.
                  Жестяно-покрасочные работы - <div class="uk-text-primary">600 рублей</div>
    block footWrap
block content2
  .uk-overflow-hidden
    .container-content.container-content_padding-all
      .content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .muted-line.uk-margin
          .uk-grid
            .uk-width-large-3-10
              .title.title_small Сервисный центр (СТО)
            .uk-width-large-7-10
              p.
                #[b Понедельник - воскресенье:] 8.00 - 20.00 #[br] #[i.uk-text-primary Без выходных!]
              p.
                #[b Тел.:] (343) 211-10-00 #[br]
                #[b E-mail:] servis@lada-amkekt.ru
        .uk-grid
          .uk-width-large-3-10
            .title.title_small Автосервис автоцентра АМК-Екатеринбург оказывает следующие виды услуг:
          .uk-width-large-7-10
            h5: b Диагностика
            ul
              li один
              li два
              li три
              li четыре
            h5: b Следующий заголовок
            ul
              li один
              li два
              li три
              li четыре
    .footWrap
