.h1 {
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 0.4em;
}
a {
    color: @col-active;
    &:hover {
        color: @col-active;
    }
}
b, strong {
  .font-sb;
}
.content {
    ul {
        .list-reset;
        line-height: 1.5;
        li {
            padding-left: 13px;
            position: relative;
            &:before {
                content:'';
                display: block;
                position: absolute;
                top: 0.8em;
                left: 0;
                width: 6px;
                height: 6px;
                margin-top: -3px;
                background: @col-active;
                border-radius: 50%;
            }
            &:after {
                content:'';
                display: block;
                position: absolute;
                top: 0.8em;
                left: -2px;
                width: 10px;
                height: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                margin-top: -5px;
                border: 1px dotted @col-active;
                border-radius: 50%;
            }
        }
    }
    ol {
      .list-reset;
      line-height: 2;
      counter-reset: list;
      li {
        padding-left: 24px;
        position: relative;
        &:before {
          counter-increment: list;
          content: counter(list) ". ";
          line-height: 20px;
          position: absolute;
          left: 0;
          top: 2px;
          font-size: 20px;
          color: @col-active;
        }
      }
    }
}

.title {
  text-transform: uppercase;
  .font-sb;
  font-size: 27px;
  display: inline-block;
  border-left: 4px solid @col-active;
  padding-left: 14px;
  line-height: 1.2;
  margin-bottom: 20px !important;
  &_small {
    font-size: 18px;
  }
}
