.label-check, .label-radio {
    padding: @form-padding;
    cursor: pointer;
    input[type='radio'] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;
    }
    input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;
        & + span {
            padding-left: 26px;
            .inblock(middle);
            position: relative;
            &:before {
                content:'';
                display: block;
                width: 16px;
                height: 16px;
                background: #fff;
                border: 1px solid @col-border;
                margin-left: -26px;
                .inblock(middle);
                margin-right: 10px;
            }
        }
        &:checked {
            & + span {
                &:before {
                    background: @col-active;
                    color: #fff;
                    border-color: @col-active;
                }
                &:after {
                  content: '\f00c';
                  font-family: 'FontAwesome';
                  position: absolute;
                  color: #fff;
                  left: 2px;
                  top: 1px;
                }
            }
        }
    }
}

.form {
  &_transparent {
     input:not([type]),  input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=tel],  input[type=datetime],  input[type=datetime-local],  input[type=date],  input[type=month],  input[type=time],  input[type=week],  input[type=color],  input[type=number],  input[type=search],  select,  textarea {
      background: transparent;
      border-color: #fff;
      border-color: rgba(255,255,255,0.25);
      color: #868281;
      &:focus {
        background: transparent;
        border-color: @col-active;
        color: #fff;
      }
    }
    label {
      &.focus {
        color: @col-active;
      }
    }
  }
}
