/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-i-arr-left-name: 'sprite-i-arr-left';
@sprite-i-arr-left-x: 28px;
@sprite-i-arr-left-y: 38px;
@sprite-i-arr-left-offset-x: -28px;
@sprite-i-arr-left-offset-y: -38px;
@sprite-i-arr-left-width: 17px;
@sprite-i-arr-left-height: 11px;
@sprite-i-arr-left-total-width: 84px;
@sprite-i-arr-left-total-height: 59px;
@sprite-i-arr-left-image: '/img/sprite.png';
@sprite-i-arr-left: 28px 38px -28px -38px 17px 11px 84px 59px '/img/sprite.png' 'sprite-i-arr-left';
@sprite-i-arr-right-name: 'sprite-i-arr-right';
@sprite-i-arr-right-x: 67px;
@sprite-i-arr-right-y: 0px;
@sprite-i-arr-right-offset-x: -67px;
@sprite-i-arr-right-offset-y: 0px;
@sprite-i-arr-right-width: 17px;
@sprite-i-arr-right-height: 11px;
@sprite-i-arr-right-total-width: 84px;
@sprite-i-arr-right-total-height: 59px;
@sprite-i-arr-right-image: '/img/sprite.png';
@sprite-i-arr-right: 67px 0px -67px 0px 17px 11px 84px 59px '/img/sprite.png' 'sprite-i-arr-right';
@sprite-i-car-name: 'sprite-i-car';
@sprite-i-car-x: 28px;
@sprite-i-car-y: 0px;
@sprite-i-car-offset-x: -28px;
@sprite-i-car-offset-y: 0px;
@sprite-i-car-width: 27px;
@sprite-i-car-height: 20px;
@sprite-i-car-total-width: 84px;
@sprite-i-car-total-height: 59px;
@sprite-i-car-image: '/img/sprite.png';
@sprite-i-car: 28px 0px -28px 0px 27px 20px 84px 59px '/img/sprite.png' 'sprite-i-car';
@sprite-i-phone-mobile-name: 'sprite-i-phone-mobile';
@sprite-i-phone-mobile-x: 55px;
@sprite-i-phone-mobile-y: 0px;
@sprite-i-phone-mobile-offset-x: -55px;
@sprite-i-phone-mobile-offset-y: 0px;
@sprite-i-phone-mobile-width: 12px;
@sprite-i-phone-mobile-height: 22px;
@sprite-i-phone-mobile-total-width: 84px;
@sprite-i-phone-mobile-total-height: 59px;
@sprite-i-phone-mobile-image: '/img/sprite.png';
@sprite-i-phone-mobile: 55px 0px -55px 0px 12px 22px 84px 59px '/img/sprite.png' 'sprite-i-phone-mobile';
@sprite-i-phone-vol-name: 'sprite-i-phone-vol';
@sprite-i-phone-vol-x: 28px;
@sprite-i-phone-vol-y: 20px;
@sprite-i-phone-vol-offset-x: -28px;
@sprite-i-phone-vol-offset-y: -20px;
@sprite-i-phone-vol-width: 18px;
@sprite-i-phone-vol-height: 18px;
@sprite-i-phone-vol-total-width: 84px;
@sprite-i-phone-vol-total-height: 59px;
@sprite-i-phone-vol-image: '/img/sprite.png';
@sprite-i-phone-vol: 28px 20px -28px -20px 18px 18px 84px 59px '/img/sprite.png' 'sprite-i-phone-vol';
@sprite-i-refresh-name: 'sprite-i-refresh';
@sprite-i-refresh-x: 0px;
@sprite-i-refresh-y: 0px;
@sprite-i-refresh-offset-x: 0px;
@sprite-i-refresh-offset-y: 0px;
@sprite-i-refresh-width: 28px;
@sprite-i-refresh-height: 28px;
@sprite-i-refresh-total-width: 84px;
@sprite-i-refresh-total-height: 59px;
@sprite-i-refresh-image: '/img/sprite.png';
@sprite-i-refresh: 0px 0px 0px 0px 28px 28px 84px 59px '/img/sprite.png' 'sprite-i-refresh';
@sprite-i-rub-name: 'sprite-i-rub';
@sprite-i-rub-x: 0px;
@sprite-i-rub-y: 28px;
@sprite-i-rub-offset-x: 0px;
@sprite-i-rub-offset-y: -28px;
@sprite-i-rub-width: 21px;
@sprite-i-rub-height: 31px;
@sprite-i-rub-total-width: 84px;
@sprite-i-rub-total-height: 59px;
@sprite-i-rub-image: '/img/sprite.png';
@sprite-i-rub: 0px 28px 0px -28px 21px 31px 84px 59px '/img/sprite.png' 'sprite-i-rub';
@spritesheet-width: 84px;
@spritesheet-height: 59px;
@spritesheet-image: '/img/sprite.png';
@spritesheet-sprites: @sprite-i-arr-left @sprite-i-arr-right @sprite-i-car @sprite-i-phone-mobile @sprite-i-phone-vol @sprite-i-refresh @sprite-i-rub;
@spritesheet: 84px 59px '/img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
