// LAYOUT
@max-width: 1200px; // Максимальная ширина контента сайта
@left-column-width: 215px; // Ширина левой колонки
@footer-height: 145px; // Высота футера


//PATH
@img: "../img/";// Путь к картинкам фона
@font: "../fonts/";// Путь к шрифтам фона

//COLOR FOR SITE


@col-primary: ;
@col-default: ;
@col-danger: ;
@col-gray: ;
@col-active: #f49e15;
@col-border: #e0e0e0;

@col-bg: #fafafa;
//COLOR FOR FONTS
@col-font: #141414;
