.actions-infobox__cont
  .uk-grid.uk-grid-medium
    .uk-width-large-4-10.uk-text-center
      .countdown(data-enddate= actions[0].endDate)
      h2.actions-infobox__title!= actions[0].name
      p.actions-infobox__anons!= actions[0].anons
      a.btn.btn_ghost.uk-button(href="http://", target="_blank") Подробнее
    .uk-width-large-6-10
      img(src= actions[0].imgInfobox, alt!= actions[0].name)
