.actions-list
  .actions-list__title.title Другие акции
  .actions-list__ul.uk-grid.uk-grid-small.uk-grid-width-large-1-4.uk-grid-width-medium-1-2.uk-grid-width-small-1-1
    each item in actions
      div
        figure.actions-list__item.uk-overlay.uk-overlay-hover
          a.actions-list__link(href="#")
            .countdown(data-enddate= item.endDate)
            img(src= item.img, alt= item.name).uk-overlay-scale
            figcaption.uk-overlay-panel.uk-overlay-bottom.uk-ignore!= item.name
