mixin header()
  header.header()&attributes(attributes)
    .container-content
      .uk-flex.uk-flex-space-between.uk-flex-wrap.uk-flex-middle
        .header__left
          .header__logo
            a(href="/")
              img(src="../img/logo.png")
          nav.header__nav
            include ../template/menu.pug
            +menu(mainMenu)(class="menu-main")
        .header__right
          a(href="tel:+7 (343) 211 10 00 ") #[i.icon.sprite-i-phone-vol] +7 (343) 211 10 00
          button(type="button", data-uk-modal="{target:'#modal-call'}").uk-button Бесплатный звонок
          a(href="#modal-map", data-uk-modal, title="title") #[i.uk-icon-map-marker] Как проехать?
          a.sidebar-tgl(href="#sidebar", data-uk-offcanvas) Меню #[i.uk-icon-bars]
