#modal-call.uk-modal.modal
    .uk-modal-dialog
      a(href="", class="uk-modal-close uk-close uk-close-alt")
      .modal__img.uk-hidden-small(style="background-image: url('../img/modal-call-img.jpg')")
      .modal__right
        .form.uk-form.uk-form-stacked
          form(id="", method="", action="")
            .uk-form-row
              label.uk-form-label Вас зовут
              input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
            .uk-form-row
              label.uk-form-label Контактный телефон
              input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
            .uk-form-row
              button.btn.uk-button.uk-button-primary.uk-width-1-1(type="submit") Перезвоните мне

      .uk-modal-caption Бесплатный #[b звонок]
//-
#modal-testdrive.uk-modal.modal
    .uk-modal-dialog
      a(href="", class="uk-modal-close uk-close uk-close-alt")
      .modal__img.uk-hidden-small(style="background-image: url('../img/modal-test-img.jpg')")
      .modal__right
        .form.uk-form.uk-form-stacked
          form(id="", method="", action="")
            .uk-form-row
              label.uk-form-label Вас зовут
              input.uk-width-1-1(type="text", placeholder="Введите ваше имя...")
            .uk-form-row
              label.uk-form-label Контактный телефон
              input.uk-width-1-1.js-mask-phone(type="text", placeholder="+7 (900) 000-00-00")
            .uk-form-row
              label.uk-form-label Выберите автомобиль
              .uk-form-select.uk-width-1-1(data-uk-form-select)
                span
                select.uk-width-1-1
                  option Не выбрано
                  option Granta
            .uk-form-row
              button.btn.uk-button.uk-width-1-1(type="submit") Записаться на тест-драйв

      .uk-modal-caption Записаться на  #[b тест-драйв]
//-
#modal-map.uk-modal.modal
    .uk-modal-dialog.uk-modal-dialog-lightbox.modal__dialog-width-auto
      a(href="", class="uk-modal-close uk-close uk-close-alt")
      .modal-map
        .container-content.container-content_padding-all
          .h1 Схема проезда
          .map-switch.js-map-switch
            a.map-switch__item.uk-margin-small.uk-vertical-align(href="", style="background-image: url('../img/bg-map-switch-1.jpg')")
              .uk-vertical-align-bottom AMK-Екатеринбург
            a.map-switch__item.uk-margin-small.uk-vertical-align(href="", style="background-image: url('../img/bg-map-switch-2.jpg')")
              .uk-vertical-align-bottom Леруа Мерлен

        .map.
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2183.585946853844!2d60.65164331629693!3d56.81873598085186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16ea674c5c8bd%3A0xfa1a4b61ed96bc60!2z0JHQsNC30L7QstGL0Lkg0L_QtdGALiwgMTAsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0KHQstC10YDQtNC70L7QstGB0LrQsNGPINC-0LHQuy4sIDYyMDEwMA!5e0!3m2!1sru!2sru!4v1479712327111" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
//- AjAX
#modal-spinner.uk-modal.modal
    .uk-modal-dialog.uk-modal-dialog-lightbox.modal-in
      a(href="", class="uk-modal-close uk-close uk-close-alt")
      #modal-dialog-content.uk-hidden
      .uk-modal-caption
      .uk-modal-spinner
