.model-actions.bg-cover(style="background-image:url('../img/bg-model-action.jpg')")
  .container-content.container-content_padding-all
    .uk-grid
      .uk-width-large-3-10.uk-width-xlarge-2-10
      .uk-width-large-7-10.uk-width-xlarge-8-10#anchor-2
        .title Акции
        p.
          Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий развития.
        .model-actions__slider
          include ../data/actions.pug
          include ../template/actions-infobox-slider.pug
