.actions-list {
  &__ul {
    & > div {
      margin-bottom: 10px;
    }
  }
  &__item {
    .countdown {
      position: absolute;
      left: 20px;
      top: 15px;
      z-index: 3;
      margin-left: -2px;
      margin-right: -2px;
      .countBox {
        font-size: 19px;
        margin-left: 2px;
        margin-right: 2px;
        .countdown-hint {
          font-size: 9px;
        }
      }
    }
  }
}
