.advantages {
    color: #fff;
    text-align: center;
    &__grid {
        margin: 40px auto;
        max-width: 750px;
    }
    &__item-wrap {
        position: relative;
        &:first-child {
            &:before {
                content:'';
                border-top: 1px solid #fff;
                border-top: 1px solid rgba(255, 255, 255, 0.25);
                display: block;
                position: absolute;
                top: 25px;
                right: 100%;
                width: 2000px;
            }
        }
        &:last-child {
            &:after {
                content:'';
                border-top: 1px solid #fff;
                border-top: 1px solid rgba(255, 255, 255, 0.25);
                display: block;
                position: absolute;
                top: 25px;
                left: 100%;
                width: 2000px;
            }
        }
    }
    &__item {
        overflow: hidden;
        width: 250px;
        max-width: 100%;

    }
    &__name {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__ico {
        border: 1px solid #fff;
        border: 1px solid rgba(255, 255, 255, 0.25);
        margin: 0 auto 3px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:before, &:after{
            content:'';
            border-top: 1px solid #fff;
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            display: block;
            position: absolute;
            top: 24px;
            width: 2000px;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
    }
}

@media only screen and (max-width: @breakpoint-large) {
    .advantages {
        &__item-wrap {
            &:before, &:after {
                .hidden;
            }
        }
        &__ico {
            &:before, &:after {
                .hidden;
            }
        }
    }
}
