.auto-in {
  &__item {
    font-size: 16px;
    margin-bottom: 30px !important;
  }
  &__img {
    margin-bottom: 10px;
    width: 293px;
    // height: 182px;
    max-width: 100%;
    img {
      object-fit: cover;
    }
  }
  &__link {
    color: inherit;
  }
}
