.contacts-page {
  position: relative;
  .map {
    pointer-events: all;
  }
}
.contact-info {
  max-width: 440px;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: @breakpoint-medium) {
  .contacts-page {
    .map {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
