.footWrap {
    height: @footer-height;

}
.footer {
    min-height: @footer-height;
    margin-top: -@footer-height;
    background: #000;
    color: #fff;
    overflow: hidden;
    z-index: 2;
    position: relative;
    &__left {
        width: 245px;
        max-width: 100%;
        min-height: @footer-height;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-right: 1px solid #fff;
        border-right: 1px solid rgba(255, 255, 255, 0.24);
        padding: 20px 20px 20px 0px;
        flex-shrink: 0;
    }
    &__right {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 200px;
        -webkit-flex-grow: 5;
        -moz-flex-grow: 5;
        -ms-flex-grow: 5;
        -o-flex-grow: 5;
        flex-grow: 5;
        padding: 20px 0px 20px 20px;
        min-height: @footer-height;
    }

    &__soc {

    }
    &__txt {
      margin-top: 15px;
        font-size: 12px;
        .font-l;
    }
    &__soc-link {
        .inblock(middle);
        color: @col-active;
        text-decoration: none !important;
        text-align: center;
        border: 1px dotted #fff;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 20px;
    }
}

@media only screen and (max-width: @breakpoint-medium) {
    .footer {
        &__row {
          -ms-flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }
        &__left {
            width: 100%;
            padding-right: 0;
            border: none;
        }
        &__right {
            padding-left: 0;
            width: 100%;
            -ms-flex-order: -1;
            -webkit-order: -1;
            order: -1;
        }
    }
}
