.header {
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    .container-content {
        max-width: 1330px;
    }
    &_bg {
      background: #000;
    }
    a {
        color: inherit;
    }
    &__logo {
        margin: 0 10px;
        .inblock(middle);
    }
    &__nav {
      .inblock(middle);
    }
    &__right {
      &>* {
          margin-right: 15px;
          &:last-child {
              margin-right: 0;
          }
      }
    }
    &__right {

    }
    &_hm {
      .header__hm-phone-box {
        overflow: hidden;
        text-align: center;
      }
        .header__left {
          width: 43%;
          .header__logo {
            display: none;
          }
            &>* {
                margin-right: 13px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .header__right {
            width: 43%;
            &>* {
                margin-left: 13px;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 1280px) {
  .header {
    &__nav {
      .hidden;
    }
    &__left {
      width: auto !important;
      & > * {
        display: none;
      }
      .header__logo {
        display: block !important;
      }
    }
    &__center {
      display: none;
    }
    &__right {
      width: auto !important;
      & >* {
        display: none;
      }
      .sidebar-tgl {
        display: block;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .sidebar-tgl {
    .hidden;
  }
}
