.map {
  position: relative;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.map-switch {
  display: inline-block;
  &__item {
    pointer-events: all;
    display: block;
    color: inherit;
    text-decoration: none !important;
    position: relative;
    height: 180px;
    width: 300px;
    max-width: 100%;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    .uk-vertical-align-bottom {
      padding: 20px 30px;
      position: relative;
      z-index: 2;
      line-height: normal;
    }
    &:hover, &.active {
      color: #fff;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: @col-active;
        opacity: 0.85;
      }
    }
  }
}
