.menu-nav {
  .list-reset;
  background: #000;
  background: rgba(0,0,0,0.5);
  color: #fff;
  &__item {
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255,255,255,0.2);
    &:first-child {
      border-top: none;
    }
    &.active {
      color: @col-active;
    }
  }
  &__link {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}
