.models-list {
  margin: 0 -4px;
  &__item {
    margin: 4px;
    float: left;
    .uk-overlay-background {
      .animated-css3(all,0.4s);
      background: none;
    }
    .uk-overlay-panel {
      opacity: 1 !important;
      padding: 15px;
    }
    &:hover {
      .uk-overlay-background {
        background: rgba(244,158,21,0.81);
      }
      .models-list__cont {
        max-height: 500px;
      }
    }
  }
  &__title {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform:none;
  }
  &__cont {
    overflow: hidden;
    .animated-css3(all,0.9s);
    max-height: 0;
    &:before {
      content: '';
      display: block;
      margin: 0px auto 10px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #fff;
    }
  }
}
