.model-test-drive {
  overflow: hidden;
  .uk-grid-divider>[class*=uk-width-medium-]:not(.uk-width-medium-1-1):nth-child(n+2) {
    border-color: rgba(255,255,255,0.25);
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
      -o-filter: blur(5px);
     -ms-filter: blur(5px);
         filter: blur(5px);
  }
  &:after {
    z-index: 0;
    opacity: 0.54;
  }
  &__form-box {
    max-width: 278px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: @breakpoint-medium) {
  .model-test-drive {
    &__form-box {
      float: none;
      margin: 0px auto 50px;
    }
  }
}
