.slidecarousel {
  .bx-wrapper {
    margin: 0 auto 2px;
    border: none;
    box-shadow: none;
  }
  &__pager {
      padding-left: 42px;
      padding-right: 42px;
      .bx-wrapper .bx-controls-direction a {
        display: block;
        height: 100%;
        text-align: center;
        line-height: 80px;
        width: 40px;
        top: 0;
        color: #fff;
        background: @col-active;
        margin-top: 0;
        text-indent: inherit;
        &:hover {
          background: #1a64b0;
        }
        &.bx-prev {
          left: -42px;

          &:before {
            content:'';
            display: inline-block;
            .sprite-i-arr-left;
          }
        }
        &.bx-next {
          right: -42px;
          &:before {
            content:'';
            display: inline-block;
            .sprite-i-arr-right;
          }

        }
      }
  }
}
