.actions-infobox__filter {
  .fltr-cat {
    margin-bottom: 0;
  }
  .fltr-check {
    position: relative;
    background: none;
    padding: 0;
    &:before {
        content:'';
        display: block;
        width: 16px;
        height: 16px;
        margin-top: -5px;
        background: #fff;
        border: 1px solid @col-border;
        margin-right: 10px;
        .inblock(middle);
        vertical-align: text-bottom;
        margin-right: 10px;
    }
    &.active {
      &:before {
          background: @col-active;
          color: #fff;
          border-color: @col-active;
      }
      &:after {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        color: #fff;
        left: 2px;
        top: 1px;
      }
    }
  }
}

.label-check, .label-radio {
    padding: @form-padding;
    cursor: pointer;
    input[type='radio'] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;
    }
    input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        opacity: 0;
        visibility: hidden;
        & + span {
            padding-left: 26px;
            .inblock(middle);
            position: relative;
            &:before {
                content:'';
                display: block;
                width: 16px;
                height: 16px;
                margin-top: -5px;
                background: #fff;
                border: 1px solid @col-border;
                margin-left: -26px;
                .inblock(middle);
                vertical-align: text-bottom;
                margin-right: 10px;
            }
        }
        &:checked {
            & + span {
                &:before {
                    background: @col-active;
                    color: #fff;
                    border-color: @col-active;
                }
                &:after {
                  content: '\f00c';
                  font-family: 'FontAwesome';
                  position: absolute;
                  color: #fff;
                  left: 2px;
                  top: 1px;
                }
            }
        }
    }
}

.form {
  .help-block {
    margin: 0;
    font-size: 12px;
    &.help-block-error {
      color: @col-active;
    }
  }
  .uk-form-select select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }
  .uk-form-select span {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    max-width: 100%;
    padding: 4px 6px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #444;
    -webkit-transition: all .2s linear;
    -webkit-transition-property: border,background,color,box-shadow,padding;
    transition: all .2s linear;
    transition-property: border,background,color,box-shadow,padding;
    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      display: inline-block;
      line-height: 30px;
      position: absolute;
      right: 10px;
      top: 0;
    }
  }
  &_transparent {
     input:not([type]),  input[type=text],  input[type=password],  input[type=email],  input[type=url],  input[type=tel],  input[type=datetime],  input[type=datetime-local],  input[type=date],  input[type=month],  input[type=time],  input[type=week],  input[type=color],  input[type=number],  input[type=search],  select,  textarea, .uk-form-select span {
      background: transparent;
      border-color: #fff;
      border-color: rgba(255,255,255,0.25);
      color: #868281;
      &:focus {
        background: transparent;
        border-color: @col-active;
        color: #fff;
        option {
          color: #000;
        }
      }
    }
    label {
      &.focus {
        color: @col-active;
      }
    }
  }
}
