.modal {
  .uk-modal-spinner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    text-align: center;
    z-index: 10;
    background: #fff;
    &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  .uk-modal-dialog {
    margin: @modal-dialog-margin-vertical auto;
  }
  &__img {
    float: left;
    height: 100%;
    width: 215px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__right {
    margin-left: 215px;
  }
  &__dialog-width-auto{
    width: auto;
    max-width: none;
    margin: 50px 25px !important;
  }
}

.modal-map {
  position: relative;
  min-height: 500px;
  .container-content {
    position: relative;
    z-index: 2;
    pointer-events: none;
    // & > *{
    //   pointer-events: all;
    // }
  }
  .map{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
.uk-modal-caption {
  bottom: auto;
  top: -48px;
  text-transform: uppercase;
  font-size: 25px;
  .font-l;
}

.uk-modal-dialog-lightbox {
  margin: 50px auto 15px;
  // max-width: 600px !important;
  // height: auto !important;
}
.modal-in {
  max-width: 600px;
  background-color: transparent;
}
.uk-responsive-width {
  // height: auto !important;
}

.uk-modal-dialog>.uk-close:first-child {
  margin-top: -18px - @modal-dialog-padding;
  margin-right: -18px - @modal-dialog-padding;
  z-index: 2 !important;
}
.uk-modal-dialog.uk-modal-dialog-lightbox>.uk-close:first-child {
  top: -18px;
  right: -18px;
  margin-top: 0;
  margin-right: 0;
  z-index: 2;
}
.uk-close-alt {
  background: @col-active;
  color: #fff;
  width: 38px;
  line-height: 38px;
  &:focus {
    color: #fff;
  }
  &:after {
    font-size: 20px;
    opacity: 1;
  }
}

.uk-modal-page body {
  overflow: initial;
}
@media only screen and (max-width: @breakpoint-medium) {
  .uk-modal-caption {
    font-size: 20px;
    top: -42px;
  }
  .modal {
    &__right {
      margin-left: 0;
    }
  }
}
