-
  var actions = [
    {
      "name" : "Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK",
      "anons" : "Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.",
      "endDate" : "2016, 11, 31",
      "img" : "../img/img-action.jpg",
      "imgBg" : "../img/bg-action.jpg",
      "imgInfobox" : "../img/img-action-infobox.png",
      "type" : "auto",
      "content" : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    },
    {
      "name" : "Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK",
      "anons" : "Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.",
      "endDate" : "2016, 12, 20",
      "img" : "../img/img-action.jpg",
      "imgBg" : "../img/bg-action.jpg",
      "imgInfobox" : "../img/img-action-infobox.png",
      "type" : "credit",
      "content" : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    },
    {
      "name" : "Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK",
      "anons" : "Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.",
      "endDate" : "2016, 12, 22",
      "img" : "../img/img-action.jpg",
      "imgBg" : "../img/bg-action.jpg",
      "imgInfobox" : "../img/img-action-infobox.png",
      "type" : "service",
      "content" : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    },
    {
      "name" : "Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK",
      "anons" : "Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.",
      "endDate" : "2016, 11, 30",
      "img" : "../img/img-action.jpg",
      "imgBg" : "../img/bg-action.jpg",
      "imgInfobox" : "../img/img-action-infobox.png",
      "type" : "auto",
      "content" : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    },
    {
      "name" : "Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK",
      "anons" : "Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.",
      "endDate" : "2016, 12, 25",
      "img" : "../img/img-action.jpg",
      "imgBg" : "../img/bg-action.jpg",
      "imgInfobox" : "../img/img-action-infobox.png",
      "type" : "credit",
      "content" : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    },
    {
      "name" : "Выгодный кредит на <strong>VESTA</strong> <b>И</b> <strong>XRAY</strong> по схеме BUY BACK",
      "anons" : "Разнообразный и богатый опыт консультация с широким активом способствует подготовке и реализации форм развития.",
      "endDate" : "2016, 12, 30",
      "img" : "../img/img-action.jpg",
      "imgBg" : "../img/bg-action.jpg",
      "imgInfobox" : "../img/img-action-infobox.png",
      "type" : "service",
      "content" : '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    },
  ]
